# ===================================================================
# artellapipe-libs-artella requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt