# ===================================================================
# artellapipe-libs-artella requirements file
# ===================================================================
Qt.py
pytest
pytest-cov
coveralls
sphinx
sphinx_rtd_theme
tpPyUtils
tpDccLib
tpQtLib